@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
:root{
    --primary-color: #262626;
    --secondary-color:  #E5E5E5;
    --background-color: #F8F4F9;
    --accent-color: #005F5F;
    --accent-color-darker: #004747;
    --primary-font: 'Playfair Display', serif;
    --secondary-font: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
body{
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    margin: 0;
    gap: 8px;
}

a {
    text-decoration: none;
}

header{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: var(--primary-color);
    justify-content: space-around;
    padding: 8px;
}

.logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation-buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
}

.home-button, .shop-button, .about-button, .promo-button{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    font-family: var(--secondary-font);
    font-weight: 600;
    font-size: 1.2em;
    color: var(--background-color);
} 


.home-button:hover, .shop-button:hover, .about-button:hover, .promo-button:hover{
    border-bottom: 2px solid var(--background-color);
} 

.login-button-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-button{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    height: 40px;
    width: 140px;
    background-color: var(--accent-color);
    font-family: var(--secondary-font);
    font-weight: 600;
    font-size: 1.2em;
    color: var(--background-color);
}

.login-button:hover{
    background-color: var(--accent-color-darker);
}

.hero-section{
    display: flex;    
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh; 
    width: 100%; 
    max-width: 1400px;
}

.main-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 80%;
    width: 90%; 
    padding: 20px;
    background-image: url("assets/nameless-hero-section-brackground.png");
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    gap: 10px;
}

.main-text{
    display: flex;
    font-family: var(--primary-font);
    font-weight: 800;
    font-size: 2em;
}

.flavor-text{
    display: flex;
    font-family: var(--secondary-font);
    font-size: 1.2em;
}

.discover-button-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.discover-button{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    height: 40px;
    width: 140px;
    background-color: var(--accent-color);
    font-family: var(--secondary-font);
    font-weight: 600;
    font-size: 1.2em;
    color: var(--background-color);
}

.discover-button:hover{
    background-color: var(--accent-color-darker);
}

.recommendation-section{
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    gap: 10px;
    border-bottom: 2px solid var(--primary-color);

}

.recommendation-header{
    display: flex;
    width: 100%;
    height: 12%;
    font-family: var(--secondary-font);
    font-size: 1.5em;
    font-weight: 600;
    color: var(--background-color);
    background-color: var(--primary-color);
    justify-content: center;
    align-items: center;
    padding: 8px;
}

.products-list{
    display: flex;
    height: 90vh; 
    width: 100%; 
    max-width: 1400px;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 7px;
}

.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--secondary-font);
    width: 400px;
    padding: 10px;
}

.product-content{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 10px;
}

.product-image{
    border: 1px solid black;
}

.details-and-button-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 98%;
}

.name-price-container{
    display: flex;
    flex-direction: column;
}

.product-name, .product-price{
    font-size: 1.1em;
    font-weight: 600;
}

.cart-button-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-button{
    background-color: var(--accent-color);
    border: none;
    border-radius: 10px;
    width: 80px;
    height: 50px;
}

.cart-button:hover{
    background-color: var(--accent-color-darker);
}

.message-box {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.about-section{
    display: flex;
    flex-direction: row;
    background-color: var(--background-color);
    border-bottom: 2px solid var(--primary-color);
    justify-content: center;
    height: 100vh;
    align-content: center;
}

.about-content{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.about-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
}

.about-us{
    display: flex;
    font-family: var(--primary-font);
    font-weight: 800;
    font-size: 3em;
}

.more-about-us{
    display: flex;
    font-family: var(--secondary-font);
    font-weight: 600;
    font-size: 1.2em;
    width: 580px;
}

.about-image{
    display: flex;
    justify-content: center;
    height: 500px;
}